<h3>Créer un compte</h3>

<div>
  <form #f="ngForm" (ngSubmit)="registerUser()">
    <mat-form-field>
      <input matInput type="text" name="email" placeholder="email" [(ngModel)]="newUser.email">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="password" placeholder="Mot de passe" [(ngModel)]="newUser.password">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Créer un compte</button>
  </form>
</div>

<h3 *ngIf="!(authService.user$ | async)">Se connecter (j'ai déjà un compte)</h3>

<div>
  <form #login="ngForm" (ngSubmit)="loginUser()" *ngIf="!(authService.user$ | async)">
    <input matInput type="text" name="email" placeholder="email" [(ngModel)]="existingUser.email">
    <input matInput type="password" name="password" placeholder="Mot de passe" [(ngModel)]="existingUser.password">
    <button mat-raised-button type="submit" color="primary">Se connecter</button>
  </form>
</div>

<div *ngIf="authService.user$ | async ">
  <span>Connecté en tant que {{(authService.user$ | async)?.email }}</span>
  <button mat-raised-button type="button" (click)="logoutUser()">Se déconnecter</button>
  <button mat-raised-button (click)="authService.sendEmailVerification()">Envoyer email</button>
</div>

{{ login?.value | json }}
