<div>
  <form [formGroup]="form" (ngSubmit)="saveDevis()">
    <mat-form-field>
      <input matInput type="text" formControlName="firstname" placeholder="Prénom">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="lastname" placeholder="Nom">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="devis" placeholder="Devis">
    </mat-form-field>
    <button mat-raised-button>{{ verb }} le devis</button>
    <button mat-raised-button (click)="cancelEdit()" *ngIf="isInEditMode">Annuler la modification</button>
  </form>
</div>


<div>
  {{ form.value | json }}
</div>
